.intro-screen {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', monospace;
}

.center-text {
    text-align: center;
}

.start-link {
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    transition: 0.2s ease-in-out;
}

.start-link:hover {
    text-shadow: 0 0 15px #e600ff, 0 0 30px #00ffe7;
    transform: scale(1.05);
}

/*bg*/
.hub-bg {
    background: #000;
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Courier New', monospace;
    position: relative;
}

/*center*/
.portal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,0.05);
    border: 1px solid #a700ff;
    padding: 40px 70px;
    text-align: center;
    color: white;
    letter-spacing: 4px;
    font-size: 1.4rem;
    text-shadow: 0 0 12px #d63cff;
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% { box-shadow: 0 0 10px #ff00ff; }
    50% { box-shadow: 0 0 25px #00fff7; }
    100% { box-shadow: 0 0 10px #ff00ff; }
}

/*floating boxes*/
.node {
    position: absolute;
    padding: 12px 18px;
    background: rgba(255,255,255,0.07);
    border: 1px solid #fff;
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.2s;
    animation: float 6s infinite alternate ease-in-out;
}

.node:hover {
    text-shadow: 0 0 10px #ff00ff;
    transform: scale(1.1);
}

/* box floating positions */
#album-art { top: 12%; left: 20%; }
#tracklist { top: 30%; right: 18%; }
#tour { bottom: 25%; left: 15%; }
#gallery { bottom: 12%; right: 22%; }
#about { top: 55%; left: 50%; transform: translateX(-50%); }

/* animation*/
@keyframes float {
    0% { transform: translateY(0px); }
    100% { transform: translateY(20px); }
}

/*panels*/
.panel {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60vw;
    padding: 30px;
    transform: translate(-50%, -50%) scale(0.7);
    background: rgba(0,0,0,0.9);
    border: 1px solid #ff00ff;
    color: white;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}

.panel.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.close-btn {
    margin-top: 20px;
    display: inline-block;
    cursor: pointer;
    font-size: 0.9rem;
    letter-spacing: 2px;
    color: #ff00ff;
}
.video-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
